
@model List<ProductGroup>
<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 row">
                <div class="hero_logo col-lg-12 col-md-6 col-sm-6 col-6">
                    <img src="~/img/logo-text.png" />
                </div>
                <div class="hero_logo_text col-lg-12 col-md-6 col-sm-6 col-6">
                    <h5 class="hero_logo_text_header">
                        Enginarın Yararları Nelerdir?
                        <small>
                            <br />
                            <br />&#10003 Kötü kolesterolü düşürür.
                            <br />&#10003 Sindrim sistemini güçlendirir.
                            <br />&#10003 Mideyi korur.
                            <br />&#10003 Kan hücrelerini göçlendirir.
                            <br />&#10003 Kilo verme sürecini desktekler.
                            <br />&#10003 Karaciğeri temizler.
                        </small>
                    </h5>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Kategorialar
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="Ne Axtarırsınız?">
                            <button type="submit" class="site-btn">AXTAR</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+99450 8333319</h5>
                            <span>24/7 aktiv servis</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="../img/hero/banner.jpg">
                    <div class="hero__text">
                        <span>100% Organik</span>
                        <h2>Acısıyla <br />Tatlısıyla</h2>
                        <p>Kolay Sipariş və Hızlı Teslimat</p>
                        <a href="#" class="primary-btn">SİPARİŞ VER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                @foreach (var group in Model)
                {
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="../img/categories/@group.ImagePath">
                            <h5><a href="#urun" data-filter=".cat@{@group.Id}">@group.ProductGroupName</a></h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title" id="urun">
                    <h2>ÜRÜNLERİMİZ</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">Tümü</li>
                        @foreach (var group in Model)
                        {
                            <li data-filter=".cat@{@group.Id}">@group.ProductGroupName</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            @foreach (var group in Model)
            {
                @foreach (var item in group.Products)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 mix cat@{@group.Id} ">
                        <div class="featured__item">
                            <div class="featured__item__pic set-bg" data-setbg="../img/product/@item.ImagePath">
                                <ul class="featured__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="featured__item__text">
                                <h6><a href="#">@item.ProductName</a></h6>
                                <h5>@item.ProductDescription</h5>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card banner_first ">
                    <div class="row">
                        <div class="col-md-6 card-img">
                            <img src="~/img/banner/banner1.png" />
                        </div>
                        <div class="col-md-6 card-body">
                            <h5 class="card-title">Enginar Tarifi</h5>
                            <p class="card-text">
                                Zeytinyağlı Enginar Tarifi Nasıl Yapılır?
                            </p>
                            <a href="https://www.youtube.com/watch?v=jDEyC8uf2xo" target="_blank" class="btn btn-danger text-white">İncele</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card banner_second ">
                    <div class="row">
                        <div class="col-md-6 card-img">
                            <img src="~/img/banner/banner2.png" />
                        </div>
                        <div class="col-md-6 card-body">
                            <h5 class="card-title">Günün Fırsatı</h5>
                            <p class="card-text">Namet Et Ürünleri</p>
                            <a class="btn btn-danger text-white">İncele</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>BLOGDAN</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="../img/blog/blog-1.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2021</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Domates ürünleri tüketiminin faydaları</a></h5>
                        <p>
                            Kanama eğilimini azaltır, damar duvarını genişletir. Katarakt oluşumunu geciktirir. Yüksek homosistein seviyelerini düşürebilir. Yaşlılığa bağlı "makula dejenarasyonu" gibi önemli bir görme
                            <span id="dots">...</span>
                            <span id="more">
                                sorununu önler. Osteoartirit tipi romatizmal sorunları azaltabilir.
                                Bağışıklık sitemini destekler
                            </span>
                            <a onclick="read_more(this)" id="mybtn" class="btn btn-outline-success rounded-pill btn-sm">daha fazla</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="../img/blog/blog-2.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2021</li>
                            <li><i class="fa fa-comment-o"></i> 3</li>
                        </ul>
                        <h5><a href="#">Kırmızıbiber salçasının faydaları</a></h5>
                        <p>
                            Kanama eğilimini azaltır, damar duvarını genişletir. Katarakt oluşumunu geciktirir. Yüksek homosistein seviyelerini düşürebilir.Kırmızı biberde bulunan E ve C vitamini, kötü kolestrolü düşürür. Acı
                            <span id="dots">...</span>
                            <span id="more">
                                pul biber portakaldan 3 kat daha fazla C vitamini içeriyor. Kırmızı biberde bulunan "fenolin" adlı antioksidan madde felç riskini azaltır ve kalbe iyi gelir. Kırmızı biberin renk maddesi "likopen" ise bağırsak, rahim ve prostat kanserinden korur. Kırmızı biberdeki "β-karoten", A vitamininin ön maddesi olup (Pro vitamin A) bağışıklık sistemini güçlendirir. β-karoten, sebze ve meyvede bulunur ve vücutta A vitaminine dönüşür. Kırmızı biberdeki, "capsaisin" ise prostat tümörlerini yok eder. Kırmızı biberde bulunan capsantin adlı madde zona hastalığının neden olduğu ağrıları dindirmek için yapılan kremlerde kullardır.
                            </span>
                            <a onclick="read_more(this)" id="mybtn" class="btn btn-outline-success rounded-pill btn-sm">daha fazla</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="../img/blog/blog-3.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2021</li>
                            <li><i class="fa fa-comment-o"></i> 4</li>
                        </ul>
                        <h5><a href="#">Zeytinin Faydaları</a></h5>
                        <p>
                            Kandaki fazla kolesterolü giderir. Kan basıncını kontrol eder. Meyve ve sebze alternatifi olarak diyet lifi kaynağıdır. Vitamin E için mükemmel bir kaynaktır. Antioksidan olarak hücreleri korurlar.
                            <span id="dots">...</span>
                            <span id="more">
                                Alzheimer, iyi huylu ve habis tümör gibi dejeneratif hastalıkların, daha az ciddiyetli varikoz damarları ve boşlukları da dâhil olmak üzere etkilerini azaltır. Miyokard enfarktüsü veya derin damar trombozu (DVT) ile sonuçlanabilecek kan pıhtını önlemeye yardımcı olur. Hücre zarlarını kanser gibi hastalıklara karşı korur. Anemiye karşı mükemmel bir korumadır. Doğurganlığı ve üreme sistemini geliştirir. Özellikle oksidatif stres ve kronik viral hastalıklar sırasında sağlıklı bir bağışıklık sisteminin korunmasında önemli bir rol oynamaktadır. Besleyici ve sodyum, potasyum, magnezyum, demir, fosfor ve iyot gibi mineral içeriği bakımından zengindir. Gerekli vitaminleri ve amino asitleri sağlarlar. Kalbi korumak için yararlı özelliklere sahip olan oleik asidi içerir. Beyindeki oksidatif stresini azaltan doğal bir kimyasal olan polifenoller içerir. Böylece günlük porsiyon bir zeytin yiyerek hafızanızı% 25’e varan oranda geliştirmeye yardımcı olur. Sadece bir fincan zeytin büyük bir demir oranı – 4.4 mg. Cilt yumuşaklığını ve cildi sağlıklı tutan oleik asidi içerdiği için kırışıklıkların görünümünü% 20 oranında azaltabilir.
                            </span>
                            <a onclick="read_more(this)" id="mybtn" class="btn btn-outline-success rounded-pill btn-sm">daha fazla</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<section class="parallax">
</section>

@section Styles{

    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
    <style>
        .parallax {
            height: 30%;
            background-image: url('/img/parallax.jpeg');
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <style>
        #more {
            display: none
        }
    </style>
}

@section Scripts{
    <script>
        function read_more(readBtn) {

            var dots = readBtn.closest('.blog__item__text').querySelector('span#dots');
            var moretext = readBtn.closest('.blog__item__text').querySelector('span#more');

            if (dots.style.display === 'none') {
                dots.style.display = 'inline';
                moretext.style.display = 'none';
                readBtn.text = "daha fazla";
            }
            else {
                dots.style.display = 'none';
                moretext.style.display = 'inline';
                readBtn.text = "kısalt";
            }
            return false;
        }
    </script>
}