<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Bütün Çeşidler</span>
                    </div>
                    <ul>
                        <li><a href="#">Acı ve Tatlı Bibər Salçası</a></li>
                        <li><a href="#">Domates Salçası</a></li>
                        <li><a href="#">Karışık Salça</a></li>
                        <li><a href="#">Siyah Zeytin</a></li>
                        <li><a href="#">Ketçap ve Acı Bibər Sosu</a></li>
                        <li><a href="#">Nar Aromalı Soslar</a></li>
                        <li><a href="#">Közlenmiş Ürünlər</a></li>
                        <li><a href="#">Pul Bibər</a></li>
                        <li><a href="#">Çiğ Köfte Seti</a></li>
                        <li><a href="#">Kurutulmuş Ürünlər</a></li>
                        <li><a href="#">Siyah Zeytin</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Kategorialar
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="Ne Axtarırsınız?">
                            <button type="submit" class="site-btn">AXTAR</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+99450 8333319</h5>
                            <span>24/7 aktiv servis</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="../img/hero/banner.jpg">
                    <div class="hero__text">
                        <span>100% Organik</span>
                        <h2>Acısıyla <br />Tatlısıyla</h2>
                        <p>Kolay Sipariş və Hızlı Teslimat</p>
                        <a href="#" class="primary-btn">SİFARİŞ VER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../img/categories/category1.jpg">
                        <h5><a href="#">Siyah Zeytin</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../img/categories/category4.jpg">
                        <h5><a href="#">Çiğ Köfte Seti</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../img/categories/category5.jpg">
                        <h5><a href="#">Tatlı Ketçap</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../img/categories/category9.jpg">
                        <h5><a href="#">Acı Sos</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../img/categories/category10.jpg">
                        <h5><a href="#">Acı Ketçap</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>ÜRÜNLERİMİZ</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".cat1">Salça</li>
                        <li data-filter=".cat2">Siyah Zeytin</li>
                        <li data-filter=".cat3">Biber</li>
                        <li data-filter=".cat4">Sos</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6 mix cat3">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../img/product/koz-biber-680.jpg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Köz Biber</a></h6>
                        <h5>&#8380 15.90</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix cat1">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../img/product/tatli-biber-salca-700.jpg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Tatlı Biber Salçası</a></h6>
                        <h5>&#8380 21.30</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix cat2">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../img/product/siyah-zeytin.jpg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Siyah Zeytin</a></h6>
                        <h5>&#8380 20.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix cat3">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../img/product/pulbiber-200.jpg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Pul Biber</a></h6>
                        <h5>&#8380 10.90</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix cat1">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../img/product/karisik-salca-700.jpg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Karışık Salça</a></h6>
                        <h5>&#8380 18.50</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix cat4">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../img/product/ketcup400.jpg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Ketçap</a></h6>
                        <h5>&#8380 5.40</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix cat3">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../img/product/tatlitozbiber-500.jpg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Tatlı Toz Biber</a></h6>
                        <h5>&#8380 10.90</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix cat3">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../img/product/isot-200.jpg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">İsot</a></h6>
                        <h5>&#8380 10.90</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix cat1">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../img/product/aci-biber-salca-700.jpg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Acı Biber Salçası</a></h6>
                        <h5>&#8380 32.50</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix cat4">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../img/product/aciketcap-9000.jpg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Acı Ketçap</a></h6>
                        <h5>&#8380 28.50</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix cat2">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../img/product/siyah-zeytin-t.jpg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Siyah Zeytin Teneke</a></h6>
                        <h5>&#8380 22.30</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix cat1">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="../img/product/domates-salca-700.jpg">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">Domates Salçası</a></h6>
                        <h5>&#8380 29.90</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card banner_first ">
                    <div class="row">
                        <div class="col-md-6 card-img">
                            <img src="~/img/banner/banner1.png" />
                        </div>
                        <div class="col-md-6 card-body">
                            <h5 class="card-title">Zeytin Kampaniyası</h5>
                            <p class="card-text">bütün çeşid zeytin ürünlerine 20% indirim</p>
                            <a class="btn btn-danger text-white add-to-cart">İncele</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card banner_second ">
                    <div class="row">
                        <div class="col-md-6 card-img">
                            <img src="~/img/banner/banner2.png" />
                        </div>
                        <div class="col-md-6 card-body">
                            <h5 class="card-title">Salça Kampaniyası</h5>
                            <p class="card-text">2 adet büyük alana 2 adet küçük bedava </p>
                            <a class="btn btn-danger text-white add-to-cart">İncele</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>BLOGDAN</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="../img/blog/blog-1.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2021</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Domates ürünleri tüketiminin faydaları</a></h5>
                        <p>
                            Kanama eğilimini azaltır, damar duvarını genişletir. Katarakt oluşumunu geciktirir. Yüksek homosistein seviyelerini düşürebilir. Yaşlılığa bağlı "makula dejenarasyonu" gibi önemli bir görme
                            <span id="dots">...</span>
                            <span id="more">
                                sorununu önler. Osteoartirit tipi romatizmal sorunları azaltabilir.
                                Bağışıklık sitemini destekler
                            </span>
                            <a onclick="read_more(this)" id="mybtn" class="btn btn-outline-success btn-sm">daha fazla</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="../img/blog/blog-2.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2021</li>
                            <li><i class="fa fa-comment-o"></i> 3</li>
                        </ul>
                        <h5><a href="#">Kırmızıbiber salçasının faydaları</a></h5>
                        <p>
                            Kanama eğilimini azaltır, damar duvarını genişletir. Katarakt oluşumunu geciktirir. Yüksek homosistein seviyelerini düşürebilir.Kırmızı biberde bulunan E ve C vitamini, kötü kolestrolü düşürür. Acı
                            <span id="dots">...</span>
                            <span id="more">
                                pul biber portakaldan 3 kat daha fazla C vitamini içeriyor. Kırmızı biberde bulunan "fenolin" adlı antioksidan madde felç riskini azaltır ve kalbe iyi gelir. Kırmızı biberin renk maddesi "likopen" ise bağırsak, rahim ve prostat kanserinden korur. Kırmızı biberdeki "β-karoten", A vitamininin ön maddesi olup (Pro vitamin A) bağışıklık sistemini güçlendirir. β-karoten, sebze ve meyvede bulunur ve vücutta A vitaminine dönüşür. Kırmızı biberdeki, "capsaisin" ise prostat tümörlerini yok eder. Kırmızı biberde bulunan capsantin adlı madde zona hastalığının neden olduğu ağrıları dindirmek için yapılan kremlerde kullardır.
                            </span>
                            <a onclick="read_more(this)" id="mybtn" class="btn btn-outline-success btn-sm">daha fazla</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="../img/blog/blog-3.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2021</li>
                            <li><i class="fa fa-comment-o"></i> 4</li>
                        </ul>
                        <h5><a href="#">Zeytinin Faydaları</a></h5>
                        <p>
                            Kandaki fazla kolesterolü giderir. Kan basıncını kontrol eder. Meyve ve sebze alternatifi olarak diyet lifi kaynağıdır. Vitamin E için mükemmel bir kaynaktır. Antioksidan olarak hücreleri korurlar.
                            <span id="dots">...</span>
                            <span id="more">
                                Alzheimer, iyi huylu ve habis tümör gibi dejeneratif hastalıkların, daha az ciddiyetli varikoz damarları ve boşlukları da dâhil olmak üzere etkilerini azaltır. Miyokard enfarktüsü veya derin damar trombozu (DVT) ile sonuçlanabilecek kan pıhtını önlemeye yardımcı olur. Hücre zarlarını kanser gibi hastalıklara karşı korur. Anemiye karşı mükemmel bir korumadır. Doğurganlığı ve üreme sistemini geliştirir. Özellikle oksidatif stres ve kronik viral hastalıklar sırasında sağlıklı bir bağışıklık sisteminin korunmasında önemli bir rol oynamaktadır. Besleyici ve sodyum, potasyum, magnezyum, demir, fosfor ve iyot gibi mineral içeriği bakımından zengindir. Gerekli vitaminleri ve amino asitleri sağlarlar. Kalbi korumak için yararlı özelliklere sahip olan oleik asidi içerir. Beyindeki oksidatif stresini azaltan doğal bir kimyasal olan polifenoller içerir. Böylece günlük porsiyon bir zeytin yiyerek hafızanızı% 25’e varan oranda geliştirmeye yardımcı olur. Sadece bir fincan zeytin büyük bir demir oranı – 4.4 mg. Cilt yumuşaklığını ve cildi sağlıklı tutan oleik asidi içerdiği için kırışıklıkların görünümünü% 20 oranında azaltabilir.
                            </span>
                            <a onclick="read_more(this)" id="mybtn" class="btn btn-outline-success btn-sm">daha fazla</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
@section Styles{
    <style>
        #more {
            display: none
        }
    </style>
}

@section Scripts{
    <script>
        function read_more(readBtn) {

            var dots = readBtn.closest('.blog__item__text').querySelector('span#dots');
            var moretext = readBtn.closest('.blog__item__text').querySelector('span#more');

            if (dots.style.display === 'none') {
                dots.style.display = 'inline';
                moretext.style.display = 'none';
                readBtn.text = "daha fazla";
            }
            else {
                dots.style.display = 'none';
                moretext.style.display = 'inline';
                readBtn.text = "kısalt";
            }

        }
    </script>
}